// typography

$montserrat: "Montserrat", sans-serif;
$bebas-neue: "Bebas Neue", cursive;

// colors

$btn-green: #78bc61;
$check-blue: #36c1ba;
$custom-grey: #e5e4d7;
$darker-grey: #a6a8aa;
$wis-shade: #b1f7f3;
$article-bg-color: #f0f6f4;
$footer-bg: #192632;
$footer-bg-2: #121920;
$select-bg: #1e252b;
